body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 100px;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
input{
    height: 50px;
    width: 175px;
    border: 2px solid #5A0E24;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}
input::placeholder{
    color: white;
    text-align: center;
}
input:focus {
  outline: none;
  box-shadow: 0 0 10px #410c21;
  border-color: #410c21;
  transition: 500ms;
}
button{
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    background-color: #76153C;
    border-radius: 2rem;
    transition: background-color 500ms ease;
}
button:hover{
    background-color: #460c23;
}

.time{
    font-size: 45px;
    text-align: center;
    color: #000000;
}
.circle{
    border: 2px solid #000000;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 60px auto;
    box-shadow: 0 0 20px #bf124c8c;
    outline: none;
    
}
.done{
    text-align: center;
    font-size: xx-large;
}